<%= @artist.id %>
<br>
<%= @artist.name %>
<br>
<%= @artist.email %>
<br>
<%= @artist.description %>
<br>
<%= @artist.calendar_id %>
<br>
<%= @artist.calendar_type %>

<div>
	<%= link_to "Edit", edit_artist_path, class: "btn btn-sm btn-primary form-control" %>
</div>